<!-- <!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="/javascripts/d3.tip.js"></script>
    <script src="/javascripts/nav.js"></script>
    <script src="/javascripts/about_start_script.js"></script>
    <script src="/javascripts/about_main.js"></script>
    <link rel='stylesheet' href='/stylesheets/about.css' />
  </head>
  <body>
      <div id='about-content'> -->
        <!-- <h1>This is interesting!</h1> -->
      <!--   <div class="container canvas">  
        </div>
      </div>
      <div class='row canvas'></div>
      <script> 
        loadNavBar();
        loadNav("about");
      </script>
  </body>
  <a href="http://www.nap.edu/catalog/18801/pathways-to-exploration-rationales-and-approaches-for-a-us-program">Official National Research Council Report</a>
</html>
 -->
 <!DOCTYPE HTML>
<html>
  <head>
    <title> About </title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="/javascripts/load_images.js"></script>
    <script src="/javascripts/about_main.js"></script>
    <script src="/javascripts/about_start_script.js"></script>
    <script src="/javascripts/nav.js"></script>
    <link rel="stylesheet" href="/stylesheets/about.css" />
  </head> 
  <body id='body'>
    <div id='capa-content'>
      <div id='about-content'>
        <div class='container'>
          <div id='capaNav' class='row'>
          </div> 

          <div class='row'> 
            <div class='col-md-12 nav'></div>

            <div class='col-md-12 capa-text'>
              <p><a href="http://www.nap.edu/catalog/18801/pathways-to-exploration-rationales-and-approaches-for-a-us-program"><font face="sans-serif" size="5" color="white"> Read More: Official National Research Council Report</font></a></p>

            </div>
          </div>
          <div id='largetext' class='row'>
                 <div id='content' class='col-md-12'></div>
                   <p>
                Sending humans to destinations beyond low Earth orbit (LEO) is a technologically, programmatically, and politically complicated endeavor. Given the complexity of human space exploration, as well as the fact that U.S. goals in HSF have changed on time scales much shorter than the time it takes to accomplish those goals, it makes sense to decompose an HSF program into smaller building blocks. This also has the advantage that those building blocks can be assembled in various configurations, allowing for the changes in goals that we experience as a nation to be addressed without analysis ab initio. A “capability-based” approach to space exploration focuses research and technology development resources on systems and capabilities that are expected to be of value in the future, with no particular mission or set of missions in mind. The process of selecting future missions then tends to favor those missions that can make use of the systems and capabilities that have been developed. A “flexible-path” approach is a more sophisticated version of capability-based planning that takes into consideration what destinations might be desirable. By contrast, a pathway-based approach would commit the U.S. HSF program to a pathway with a specific sequence of missions normally of increasing difficulty and complexity that target specific exploration goals that are typically tied to various destinations that humans may explore. A pathway approach would facilitate continuity of development of required systems for increased capability and efficiency. This website tends to describe the content of the 2014 National Research Council Report 'Pathways to Exploration: Rationales and Approaches for a U.S. Program of Human Space Exploration'.
              </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>