<!DOCTYPE HTML>
<html>
	<head>
		<title>Capabilities</title>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
		<script src="/javascripts/load_images.js"></script>
		<script src="/javascripts/capabilities_main.js"></script>
		<script src="/javascripts/capabilities_start_script.js"></script>
		<!-- <script src="http://www.d3plus.org/js/d3.js"></script> -->
		<!-- <script src="http://www.d3plus.org/js/d3plus.js"></script> -->
		<script src="/javascripts/nav.js"></script>
		<!-- [if gte IE 9]> <script type="text/javascript"> Cufon.set('engine', 'canvas'); </script> <![endif] -->
		<link rel="stylesheet" href="/stylesheets/capabilities.css" />
	</head>	
	<body id='body'>
		<div id='capa-content'>

			<div id='capabilities-content'>
				<div class='container'>
					<div id='capaNav' class='row'>
						<div class='col-md-12 nav'></div>
					</div>
					<div class='row'>

						<div class='col-md-12 capa-text'></div>
					</div>
					<div class='row'>

						<div id='content' class='col-md-12'></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>