 <!DOCTYPE HTML>
<html>
  <head>
    <title> My Trip </title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="/javascripts/load_images.js"></script>
    <script src="/javascripts/mytrip_main.js"></script>
    <script src="/javascripts/mytrip_start_script.js"></script>
    <script src="/javascripts/nav.js"></script>
    <link rel="stylesheet" href="/stylesheets/mytrip.css" />
  </head> 
  <body id='body'>
    <div id='capa-content'>
      <div id='mytrip-content'>
        <div class='container'>
          <div id='capaNav' class='row'>
            <div class='col-md-12 nav'></div>
          </div>
          <div class='row canvas'>
            <div class='col-md-12 capa-text'>
              <div class='col-md-12'><!-- <img id ='arvRect1' class='image-mission-1 red-back' width='30' height='40' src="/images/ARV.png"> -->
            

            </div>
          </div>
          <div id='largetext' class='row'>
                 <div id='content' class='col-md-12'></div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>