<!DOCTYPE HTML>
<html>
	<head>
		<title>Pathways</title>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
		<script src="/javascripts/pathways_start_script.js"></script>
		<script src="/javascripts/main_drawing.js"></script>
		<script src="/javascripts/arm.js"></script>
		<script src="/javascripts/moon_to_mars.js"></script>
		<script src="/javascripts/enhanced.js"></script>
		<script src="/javascripts/navbar.js"></script>
		<script src="/javascripts/nav.js"></script>
		<link rel="stylesheet" href="/stylesheets/pathways.css" />
	</head>	
	<body>
		<div id='path-content'>
			<div id='animate-area' class='container'>
				<div class='row'>
					<div class='col-md-12 nav'>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-12 headnav'>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-12 path-text'>
					<p> This page assesses three specific, notional pathways as examples to illustrate the various tradeoffs among schedule, development risk, affordability, and decommissioning date of the International Space Station (ISS). Although there are other possible pathways, the ones chosen for exposition sufficiently span the likely programmatic space to provide insight into affordability and technical difficulty. All three of the pathways terminate with a human mission to the most challenging, technically feasible destination: the Mars surface. Depending on practical factors, an actual HSF program might have to take an off-ramp to an intermediate destination before the final destination is reached.</p>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-12 canvas'>
					</div>
				</div>
				<div class='row'>
					<div  class='col-md-12 chart'>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>