<div class="container-fluid">
    <div class='row row_buffer' >
         <div id = 'paths' class ='col-md-7 paths'>
            <img src="../images/arm_to_mars_path.png" height="500" width="600" usemap="#pathmap">
            <map name='pathmap'>
                <area id='arm_to_mars' shape='rect' coords='90,470, 200,500' href='#'>
                <area id ='moon_to_mars' shape='rect' coords='210,470, 330,500' href='#'>
                <area id='enhanced'  shape='rect' coords='340,470, 520,500' href='#'>
            </map>

         </div>
         <div id ='table' class ='col-md-5 paths'>
            <img src="../images/arm_to_mars_table.png" height="450" width="400">
         </div>
    </div>
    <hr>
    <div class='row row_buffer'>
        <div class ='col-md-6' id='path_info'>
          <p>
            Lorem epsum  Lorem epsum Lorem epsum Lorem epsum Lorem epsum Lorem epsum Lorem epsum
          </p>
        </div>
        <div class ='col-md-6' id="chart">
              <img src="../images/arm_to_mars_chart.png" height="500" width="500">
        </div>
    </div>
</div>