<!DOCTYPE html>
<html>
  <head>
    <title>NRC Report</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="/modernizr.custom.23485.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="/javascripts/d3.tip.js"></script>
    <script src="/javascripts/index_start_script.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div id='index'>
        <div class="container canvas">  
        </div>
      </div>
  </body>
</html>
