<!-- <!DOCTYPE HTML>
<html>
	<head>
		<title>Mission Elements</title>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script src="/javascripts/load_images.js"></script>
		<script src="/javascripts/lists.js"></script>
		<script src="/javascripts/navbar_mission.js"></script>
		<script src="/javascripts/nav.js"></script>
		<script src="/javascripts/arm_mission.js"></script>
		<link rel="stylesheet" href="/stylesheets/mission.css" />
	</head>	
	<body>
		<div id='mission-content'>
			<div id='animate-area' class='container'>
				<div class='row'>
					<div class='col-md-12 nav'></div>
				</div>
				<div class='row'>
					<div class='col-md-12 headnav'></div>
				</div>
				<div class='row'>
					<div class='col-md-12' style='padding-left: 20px; padding-right: 20px; '>
						<p class='image-header' style='text-align: left;'>To achieve the horizon goal of a human mission to the Mars surface, all of the aforementioned element groups are necessary. More specifically, 11 individual mission elements required for the Mars surface mission have been identified.</p>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-2' style='font-weight: bold'>
						<p class='image-header'>ASTERIOD REDIRECT MISSION</p>
					</div>
				</div>
				<div class='row'>

					<div class='col-md-12' id="legend">
						<div style="width:500px;height:100px;" id="legendBox">
						<text class='image-text move' style='text-align: center; color:red;'><div style="width:20px;height:20px;background-color:red;"></div>
						DEAD-END MISSION ELEMENTS</text>

						<br><br><text class='image-text move' style='text-align: left; color: orange'>TRANSITIONAL MISSION ELEMENTS</text>

						<br><br><text class='image-text move' style='text-align: left; color: green'>PRIMARY MISSION ELEMENTS</text>
						</div>
						
					</div>

				</div>
				<br>
				<div class='row'>
					<div class='col-md-2'>
						<p class='image-header'>ARM</p>
					</div>

					<div class='col-md-10 one'>
						<img id ='arvRect1' class='image-mission-1 red-back' width='30' height='40' src="/images/ARV.png"><img id='mydRect1' class='image-mission-1 red-back' width='30' height='40' src="/images/MYD.png"><img id='lssRect1' class='image-mission-1 red-back' width='30' height='40' src="/images/LSS.png"><img id='motRect1' class='image-mission-1 red-back' width='30' height='40' src="/images/MOT.png"><img id='sevRect1' class='image-mission-1 red-back' width='30' height='40' src="/images/SEV.png">

						<br><br><br><img id='cpsRect1' class='image-mission-first orange-back' width='30' height='40' src="/images/CPS.png"><img id='lmRect1' class='image-mission-1 orange-back' width='30' height='40' src="/images/LM.png"><img id='lopRect1' class='image-mission-1 orange-back' width='30' height='40' src="/images/LOP.png">

						<br><br><br><img id='hllRect1' class='image-mission-first green-back' width='30' height='40' src="/images/HLL.png"><img id='apRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/AP.png"><img id='trrRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/TRR.png"><img id='snpRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/SNP.png"><img id='avRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/AV.png"><img id='psmRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/PSM.png"><img id='aasRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/AAS.png"><img id='ccsRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/CCS.png"><img id='dshRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/DSH.png"><img id='ldshRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/LDSH.png"><img id='mavRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/MAV.png">
					</div>
				</div>
				<div class='row move'>
					<div class='col-md-2'>
						<p class='plus'>+</p>
						<p class='image-header'>MARTIAN MOONS</p>
					</div>
					<div class='col-md-12 two'>
						<img id='arvRect2' class='image-mission-1 red-back' width='30' height='40' src="/images/ARV.png"><img id='mydRect2' class='image-mission-1 red-back' width='30' height='40' src="/images/MYD.png"><img id='lssRect2' class='image-mission-1 red-back' width='30' height='40' src="/images/LSS.png"><img id='motRect2' class='image-mission-1 red-back' width='30' height='40' src="/images/MOT.png"><img id='sevRect2' class='image-mission-1 red-back' width='30' height='40' src="/images/SEV.png">

						<img  id='cpsRect2'class='image-mission-first orange-back' width='30' height='40' src="/images/CPS.png"><img id='lmRect2' class='image-mission-1 orange-back' width='30' height='40' src="/images/LM.png"><img id='lopRect2' class='image-mission-1 orange-back' width='30' height='40' src="/images/LOP.png">

						<img id='hllRect2' class='image-mission-first green-back' width='30' height='40' src="/images/HLL.png"><img id='apRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/AP.png"><img id='trrRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/TRR.png"><img id='snpRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/SNP.png"><img id='avRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/AV.png"><img id='psmRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/PSM.png"><img id='aasRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/AAS.png"><img id='ccsRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/CCS.png"><img id='dshRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/DSH.png"><img id='ldshRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/LDSH.png"><img id='mavRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/MAV.png">
					</div>
				</div>
				<div class='row move'>
					<div class='col-md-2'>
						<p class='plus'>+</p>
						<p class='image-header'>MARS SURSFACE</p>
					</div>
					<div class='col-md-12 three'>
						<img id='arvRect3' class='image-mission-1 red-back' width='30' height='40' src="/images/ARV.png"><img  id='mydRect3' class='image-mission-1 red-back' width='30' height='40' src="/images/MYD.png"><img  id='lssRect3' class='image-mission-1 red-back' width='30' height='40' src="/images/LSS.png"><img  id='motRect3' class='image-mission-1 red-back' width='30' height='40' src="/images/MOT.png"><img  id='sevRect3' class='image-mission-1 red-back' width='30' height='40' src="/images/SEV.png">

						<img  id='cpsRect3' class='image-mission-first orange-back' width='30' height='40' src="/images/CPS.png"><img  id='lmRect3' class='image-mission-1 orange-back' width='30' height='40' src="/images/LM.png"><img  id='lopRect3' class='image-mission-1 orange-back' width='30' height='40' src="/images/LOP.png">

						<img id='hllRect3' class='image-mission-first green-back' width='30' height='40' src="/images/HLL.png"><img id='apRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/AP.png"><img id='trrRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/TRR.png"><img id='snpRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/SNP.png"><img id='avRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/AV.png"><img id='psmRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/PSM.png"><img id='aasRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/AAS.png"><img id='ccsRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/CCS.png"><img id='dshRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/DSH.png"><img id='ldshRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/LDSH.png"><img id='mavRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/MAV.png">
					</div>
			</div>
			<div class='row canvas'></div>
			<script> 
				loadNavBar();
				loadNav("mission");
			</script>
		</div>
	</body>
</html>
 -->		

<!DOCTYPE HTML>
<html>
	<head>
		<title>Mission Elements</title>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script src="/javascripts/load_images.js"></script>
		<script src="/javascripts/lists.js"></script>
		<script src="/javascripts/navbar_mission.js"></script>
		<script src="/javascripts/nav.js"></script>
		<script src="/javascripts/arm_mission.js"></script>
		<link rel="stylesheet" href="/stylesheets/mission.css" />
	</head>	
	<body>
		<div id='mission-content'>
			<div id='animate-area' class='container'>
				<div class='row'>
					<div class='col-md-12 nav'></div>
				</div>
				<div class='row'>
					<div class='col-md-12 headnav'></div>
				</div>
				<div class='row'>
					<div class='col-md-12' style='padding-left: 20px; padding-right: 20px; '>
						<p class='image-header'>To achieve the horizon goal of a human mission to the Mars surface, all of the aforementioned element groups are necessary. More specifically, 11 individual mission elements required for the Mars surface mission have been identified.</p>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-2' style='font-weight: bold'>
						<p class='image-header'>ASTEROID REDIRECT MISSION</p>
					</div>
				</div>
				<!DOCTYPE html>

				<style>
				table, th, td {
				    /*border: 1px solid black;*/
				    border-collapse: collapse;
				}
				th, td {
				    /*padding: 5px;*/
				    text-align: center;
				}
				</style>
				</head>

				<body>


				<table style="width:100%" id='table'>
				  <tr>
				    <th></th>
				    <th id='col1'>Dead End Mission Elements</th>		
				    <th id='col1'>&nbsp;Transitional Mission Elements</th>
				    <th id='col1'>Primary Mission Elements</th>
				  </tr>
				  <tr>
				    <td id='col1'><b>ARM</b></td>
				    <td id='col2'><img id ='arvRect1' class='image-mission-1 red-back' width='30' height='40' src="/images/ARV.png"><img id='mydRect1' class='image-mission-1 red-back' width='30' height='40' src="/images/MYD.png"><img id='lssRect1' class='image-mission-1 red-back' width='30' height='40' src="/images/LSS.png"><img id='motRect1' class='image-mission-1 red-back' width='30' height='40' src="/images/MOT.png"><img id='sevRect1' class='image-mission-1 red-back' width='30' height='40' src="/images/SEV.png"></td>	

				    <td id='col3'><img id='cpsRect1' class='image-mission-first orange-back' width='30' height='40' src="/images/CPS.png"><img id='lmRect1' class='image-mission-1 orange-back' width='30' height='40' src="/images/LM.png"><img id='lopRect1' class='image-mission-1 orange-back' width='30' height='40' src="/images/LOP.png"></td>

				    <td id='col4'><img id ='hllRect1' class='image-mission-first green-back' width='15' height='40' src="/images/HLL.png"><img id='apRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/AP.png"><img id='trrRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/TRR.png"><img id='snpRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/SNP.png"><img id ='avRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/AV.png"><img id='psmRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/PSM.png"><img id='aasRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/AAS.png"><img id ='ccsRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/CCS.png"><img id='dshRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/DSH.png"><img id='ldshRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/LDSH.png"><img id='mavRect1' class='image-mission-1 green-back' width='30' height='40' src="/images/MAV.png"></td>
				  </tr>
				  <tr>
				  	<td id='col1'>+</td>
				  	<td id='col2'></td>
				  	<td id='col3'></td>
				  	<td id='col4'></td>
				  </tr>					  
				  <tr>
				    <td id='col1'>MARTIAN MOONS</td>
				    <td id='col2'><img id ='arvRect2' class='image-mission-1 red-back' width='30' height='40' src="/images/ARV.png"><img id='mydRect2' class='image-mission-1 red-back' width='30' height='40' src="/images/MYD.png"><img id='lssRect2' class='image-mission-1 red-back' width='30' height='40' src="/images/LSS.png"><img id='motRect2' class='image-mission-1 red-back' width='30' height='40' src="/images/MOT.png"><img id='sevRect2' class='image-mission-1 red-back' width='30' height='40' src="/images/SEV.png"></td>	

				    <td id='col3'><img id='cpsRect2' class='image-mission-first orange-back' width='30' height='40' src="/images/CPS.png"><img id='lmRect2' class='image-mission-1 orange-back' width='30' height='40' src="/images/LM.png"><img id='lopRect2' class='image-mission-1 orange-back' width='30' height='40' src="/images/LOP.png"></td>
				    
				    <td id='col4'><img id ='hllRect2' class='image-mission-first green-back' width='15' height='40' src="/images/HLL.png"><img id='apRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/AP.png"><img id='trrRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/TRR.png"><img id='snpRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/SNP.png"><img id ='avRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/AV.png"><img id='psmRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/PSM.png"><img id='aasRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/AAS.png"><img id ='ccsRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/CCS.png"><img id='dshRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/DSH.png"><img id='ldshRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/LDSH.png"><img id='mavRect2' class='image-mission-1 green-back' width='30' height='40' src="/images/MAV.png"></td>
				  </tr>
				  <tr>
				  	<td id='col1'>+</td>
				  	<td id='col2'></td>
				  	<td id='col3'></td>
				  	<td id='col4'></td>
				  </tr>					  
				  <tr>
				    <td id='col1'>MARS SURFACE</td>
				    <td id='col2'><img id ='arvRect3' class='image-mission-1 red-back' width='30' height='40' src="/images/ARV.png"><img id='mydRect3' class='image-mission-1 red-back' width='30' height='40' src="/images/MYD.png"><img id='lssRect3' class='image-mission-1 red-back' width='30' height='40' src="/images/LSS.png"><img id='motRect3' class='image-mission-1 red-back' width='30' height='40' src="/images/MOT.png"><img id='sevRect3' class='image-mission-1 red-back' width='30' height='40' src="/images/SEV.png"></td>

				    <td id='col3'><img id='cpsRect3' class='image-mission-first orange-back' width='30' height='40' src="/images/CPS.png"><img id='lmRect3' class='image-mission-1 orange-back' width='30' height='40' src="/images/LM.png"><img id='lopRect3' class='image-mission-1 orange-back' width='30' height='40' src="/images/LOP.png"></td>

				    <td id='col4'><img id ='hllRect3' class='image-mission-first green-back' width='15' height='40' src="/images/HLL.png"><img id='apRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/AP.png"><img id='trrRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/TRR.png"><img id='snpRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/SNP.png"><img id ='avRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/AV.png"><img id='psmRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/PSM.png"><img id='aasRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/AAS.png"><img id ='ccsRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/CCS.png"><img id='dshRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/DSH.png"><img id='ldshRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/LDSH.png"><img id='mavRect3' class='image-mission-1 green-back' width='30' height='40' src="/images/MAV.png"></td>
				  </tr>
				</table>

				<p></p>
			<script> 
				loadNavBar();
				loadNav("mission");
			</script>
		</div>
	</body>
</html>