<!DOCTYPE HTML>
<html>
	<head>
		<title>Mission Elements</title>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script src="/javascripts/load_images.js"></script>
		<script src="/javascripts/lists.js"></script>
		<script src="/javascripts/navbar_mission.js"></script>
		<script src="/javascripts/nav.js"></script>
		<script src="/javascripts/arm_mission.js"></script>
		<link rel="stylesheet" href="/stylesheets/mission.css" />
	</head>	

	<body>
		<div id='mission-content'>
			<div id='animate-area' class='container'>
				<div class='row'>
					<div class='col-md-12 nav'></div>
				</div>
				<div class='row'>
					<div class='col-md-12 headnav'></div>
				</div>
				<div class='row'>
					<div class='col-md-12' style='padding-left: 20px; padding-right: 20px; '>
						<p class='image-header' style='text-align: left;'>To achieve the horizon goal of a human mission to the Mars surface, all of the aforementioned element groups are necessary. More specifically, 11 individual mission elements required for the Mars surface mission have been identified.</p>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-2' style='font-weight: bold'>
						<p class='image-header'>ASTERIOD REDIRECT MISSION</p>
					</div>
				</div>
		</div>
		</div>






	</body>
	</html>